<p id="notice"><%= notice %></p>

<p>
  <strong>Series code:</strong>
  <%= @device.series_code %>
</p>
<p>
  <strong>State:</strong>
  <%= @device.active %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @device.mobile %>
</p>

<% if @login_role == 0 %>
  <%= link_to 'Edit', edit_device_path(@device) %>
  <%= link_to 'Back', devices_path %>
<% elsif @login_role == 1 %>
  <%= link_to 'Back', reset_page_path %>
<% end %>
