<p id="notice"><%= notice %></p>

<h1>Listing Admin Manage Users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_manage_users.each do |admin_manage_user| %>
      <tr>
        <td><%= admin_manage_user.user_name %></td>
        <td><%= admin_manage_user.password %></td>
        <td><%= link_to 'Show', admin_manage_user %></td>
        <td><%= link_to 'Edit', edit_admin_manage_user_path(admin_manage_user) %></td>
        <td><%= link_to 'Destroy', admin_manage_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manage user', new_admin_manage_user_path %>
